.subReceipt {
    border: 1px solid black;
    margin: 10px;
    background-color: #F5F5F5;
}
.input{
    outline: none;
    border-radius: 5px;
    height: 22px;
    padding: 1px 5px;
    font-size: 16px;
}
.input-text{
    width: 65%;
}
.div-numeric{
    width: 25%;
    margin-right: 2px;
}
.input-numeric{
    width: calc(100% - 14px);
    text-align: right;
    padding-right: 13px;
    padding-left: 0;
}
.input-numeric::-webkit-outer-spin-button,
.input-numeric::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input-numeric[type=number] {
    -moz-appearance: textfield;
}
.input-symbol-euro {
    position: relative;
}
.input-symbol-euro:after {
    position: absolute;
    content:"€";
    right: 4px;
    top: 1%;
}
.center-container{
    align-items: center;
}
